.hero {
  position: relative;
  overflow: hidden;
  section {
    height: 685px;
    @include sm {
      height: 785px;
    }
  }
  picture {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    width: 100vw;
    height: 100%;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x))
      translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
      skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
      scaleY(var(--tw-scale-y));
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  &__content {
    position: absolute;
    height: auto;
    bottom: 0;
    width: 100%;
    top: 0;
    color: white;
    transition: all 0.7s;
    &.open {
      background-color: $dark;
      position: fixed;
      z-index: 200;
    }
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        cursor: pointer;
        font-size: 13px;
        &:first-child {
          margin-right: 15px;
        }
      }
    }
    h1 {
      padding-top: 56px;
      font-weight: normal;
      font-size: 38px;
      line-height: 1.28;
      letter-spacing: -0.05px;
      max-width: 60%;
      @include sm {
        font-size: 45px;
        max-width: 65%;
      }
      @include md {
        padding-top: 180px;
        margin-bottom: 0;
        font-size: 53px;
        max-width: 709px;
      }
      span {
        color: $sickly-yellow;
      }
    }
  }
  .vertical-hero {
    display: flex;
    height: 100%;
    &__container-ball {
      padding-top: 25px;
      padding-left: 36px;
      padding-right: 32px;
      margin-right: 67px;
      border-right: solid 2px white;
      display: none;
      @include lg {
        display: block;
      }
    }
  }
  .vertical-hero__container-content {
    padding: $padding-section-min-x $padding-section-min-y;
    @include lg {
      width: 950px;
      padding-left: 0;
    }
    @include xl {
      width: 1160px;
    }
  }
  .isMobile {
    display: block;
    @include lg {
      display: none;
    }
  }
  .isDesktop {
    display: none;
    width: 579px;
    @include lg {
      display: block;
    }
  }
}
