@font-face {
  font-family: HelveticaNeue;
  src: local(HelveticaNeue),
    url(../assets/fonts/HelveticaNeue.woff2) format('woff2'),
    url(../assets/fonts/HelveticaNeue.woff) format('woff'),
    url(../assets/fonts/HelveticaNeue.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: HelveticaNeue;
  src: local(HelveticaNeue-Bold),
    url(../assets/fonts/HelveticaNeue-Bold.woff2) format('woff2'),
    url(../assets/fonts/HelveticaNeue-Bold.woff) format('woff'),
    url(../assets/fonts/HelveticaNeue-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

$temp-dark: gray;
$font-size: 18px;

//font-family
$main-font: 'HelveticaNeue', sans-serif;

//Font-sizes

//gutters
$padding-section-min-x: 35px;
$padding-section-min-y: 25px;
$padding-section: 40px;

// colors
$sickly-yellow: #cbe346;
$white-two: #d8d8d8;
$dark-two: #2b3049;
$dark: #1e2335;

//BreakPoints Media queries

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1340px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Custom devices
// @mixin cust($screen) {
//   @media (min-width: $screen + 'px') {
//     @content;
//   }
// }
